<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Neon.Dwdm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Neon.Dwdm.Properties.Settings>
            <setting name="MeasureFormLocation" serializeAs="String">
                <value>730, 0</value>
            </setting>
            <setting name="doFabAngleAlign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doFineAlign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doRollAlign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doMeasurement" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doAutoReturn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastDataFolder" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="doAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumChips" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lastChipSn" serializeAs="String">
                <value>TVD12280044-2-4-160706</value>
            </setting>
            <setting name="ReferenceFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="doInitNotAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doInitPassStage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doInitPassPm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="range_left_x" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="range_left_y" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="range_right_x" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="range_right_y" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="step_left_x" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="step_left_y" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="step_right_x" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="step_right_y" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="doClad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doClad_Distance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ScanForm_SaveFolder" serializeAs="String">
                <value>Save folder:</value>
            </setting>
            <setting name="init_TLS_Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="init_PC_Device" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="backup_Wave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backup_Power" serializeAs="String">
                <value>False</value>
            </setting>
        </Neon.Dwdm.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.NiLmClientDLL" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.40.49152" newVersion="15.0.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
