<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Neon.Aligner.choa_server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.NiLmClientDLL" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.40.49152" newVersion="15.0.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Neon.Aligner.choa_server.Properties.Settings>
      <setting name="lapdDutForm_Savefolder" serializeAs="String">
        <value>Save Folder :</value>
      </setting>
      <setting name="lapdChipWidth" serializeAs="String">
        <value>2990</value>
      </setting>
      <setting name="lapdWaveStart" serializeAs="String">
        <value>1271</value>
      </setting>
      <setting name="lapdOffsetZ" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="lapdOffsetY" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="lapdOffsetBack" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="lapdOffsetReturn" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="InitTlsServer" serializeAs="String">
        <value>False</value>
      </setting>
    </Neon.Aligner.choa_server.Properties.Settings>
  </userSettings>
</configuration>
