<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Free302.TnMLibrary.Device.StageTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="free302.StageTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Study.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Free302.TnMLibrary.Device.StageTester.Properties.Settings>
            <setting name="MainFormText" serializeAs="String">
                <value>Stage Tester</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>1016, 700</value>
            </setting>
            <setting name="SplitMainDistance" serializeAs="String">
                <value>286</value>
            </setting>
            <setting name="ConfigClassName" serializeAs="String">
                <value>DeviceLogic</value>
            </setting>
            <setting name="TableUpperSize" serializeAs="String">
                <value>368, 325</value>
            </setting>
            <setting name="AxisTitle" serializeAs="String">
                <value>X;Y;Z;Tx;Ty;Tz</value>
            </setting>
            <setting name="GridStatusColumnTitle" serializeAs="String">
                <value>Axis;EMG;LMT+;LMT-;NORG;ORG;POS</value>
            </setting>
            <setting name="GridConfigColumnTitle" serializeAs="String">
                <value>Axis;Speed;Move-;Len(μm);Move+;Stop;Zero;Home</value>
            </setting>
            <setting name="PositionFont" serializeAs="String">
                <value>Source Code Pro, 12pt, style=Bold</value>
            </setting>
            <setting name="SplitGridDistance" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="SplitGridTopDistance" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="GridRowHieght" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
        </Free302.TnMLibrary.Device.StageTester.Properties.Settings>
        <free302.StageTester.Properties.Settings>
            <setting name="MainFormText" serializeAs="String">
                <value>Stage Tester</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>880, 700</value>
            </setting>
            <setting name="SplitMainDistance" serializeAs="String">
                <value>286</value>
            </setting>
            <setting name="ConfigClassName" serializeAs="String">
                <value>DeviceLogic</value>
            </setting>
            <setting name="TableUpperSize" serializeAs="String">
                <value>368, 325</value>
            </setting>
            <setting name="AxisTitle" serializeAs="String">
                <value>X;Y;Z;Tx;Ty;Tz</value>
            </setting>
            <setting name="StatusTitle" serializeAs="String">
                <value>Axis;EMG;LMT+;LMT-;NORG;ORG;POS</value>
            </setting>
            <setting name="ConfigTitle" serializeAs="String">
                <value>Axis;NORG;ORG;Speed;Move-;Len(μm);Move+</value>
            </setting>
            <setting name="PositionFont" serializeAs="String">
                <value>Source Code Pro, 12pt, style=Bold</value>
            </setting>
            <setting name="SplitGridDistance" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="SplitGridTopDistance" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="GridRowHieght" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MainFont" serializeAs="String">
                <value>Noto Sans CJK KR Regular, 9.75pt</value>
            </setting>
        </free302.StageTester.Properties.Settings>
        <Study.Properties.Settings>
            <setting name="MainFormText" serializeAs="String">
                <value>Stage Tester</value>
            </setting>
        </Study.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
