<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Neon.Aligner.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <Neon.Aligner.UI.Settings>
            <setting name="UvCuringTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UvOpenDistance" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="UvCheckRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UvCheckLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UvStartingLeft" serializeAs="String">
                <value>44326</value>
            </setting>
            <setting name="UvStartingRight" serializeAs="String">
                <value>44326</value>
            </setting>
            <setting name="UvFormLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="UvFinalDistance" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="UvCameraPosition" serializeAs="String">
                <value>94000</value>
            </setting>
            <setting name="UvUvPosition" serializeAs="String">
                <value>42000</value>
            </setting>
            <setting name="UvCloseDistance" serializeAs="String">
                <value>9950</value>
            </setting>
            <setting name="Uv_DutType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UvCheckLeftAlign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UvCheckRightAlign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UvApproachDistance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UvAlignOpmPort" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UvCloseDistanceSlow" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UvCloseSlowSpeed" serializeAs="String">
                <value>100</value>
            </setting>
        </Neon.Aligner.UI.Settings>
    </userSettings>
</configuration>